<div class="categories-body">
    <div class="categories-header">
        <categories-modal (onOpen)="open($event)" (onClose)="close($event)" [categories]="categories"
            (onCategoryAdd)="add($event)" />
        <button type="button" (click)="editMode = true">Edit Categories</button>
    </div>
    <div class="categories-container">
        <categories-table [categories]="categories" (onCategoryDelete)="delete($event)" [editMode]="editMode"
            (onCategoryUpdate)="update($event)" />
    </div>
</div>