<div class="add-user-body">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

        <div class="form-div">
            <label for="password">Password: </label>
            <input type="password" id="password" formControlName="password">
            @if (!passwordValue) {
            <span>Please input password</span>
            }
            @if (passwordControl?.invalid) {
            <span style="color: red;">{{getPasswordError()}}</span>
            }
        </div>
        <div class="form-div">
            <label for="confirm">Confirm password: </label>
            <input type="password" id="confirm" formControlName="confirmPassword">
            @if (confirmPasswordControl?.invalid) {
            <span style="color: red;">Password do not match!</span>
            }
        </div>

        <button type="submit" [disabled]="!resetPasswordForm.valid">Save User</button>
    </form>
</div>