<div class="add-product-body">
    <div class="add-product-form">
        <form [formGroup]="cartForm" (ngSubmit)="sendToOrder()">
            <div class="col">
                <label for="user_id"></label>
                <select id="user_id" formControlName="user_id">
                    <option value="" disabled selected>--choose user--</option>
                    @for (user of (users | roleFilter: roleUser); track $index) {
                    <option [ngValue]="user._id">{{user.username}}</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="courier_id">Courier:</label>
                <select id="courier_id" formControlName="courier_id">
                    <option value="" disabled selected>--choose courier--</option>
                    @for (courier of couriers; track $index) {
                    <option [ngValue]="courier._id">{{courier.name}}</option>
                    }
                </select>
            </div>

            <div>
                <h5>PC Build:</h5>
                <div>
                    <label for="pcBuild1">Yes</label>
                    <input type="radio" id="pcBuild1" formControlName="pcBuild" [value]="true">
                </div>
                <div>
                    <label for="pcBuild2">No</label>
                    <input type="radio" id="pcBuild2" formControlName="pcBuild" [value]="false">
                </div>
                <input type="text" placeholder="pcBuildName" formControlName="pcBuildName">
            </div>

            <div class="col">
                <input type="number" [(ngModel)]="$quantity" [ngModelOptions]="{standalone: true}">
                <label for="product_id">Product:</label>
                <select id="product_id" formControlName="product_id" (ngModelChange)="initItems()">
                    @for (product of products; track $index) {
                    <option [ngValue]="product._id">{{product.name}}</option>
                    }
                </select>
            </div>

            <div class="specifications-arr">
                <h3>Items:</h3>
                <div formArrayName="items">

                    @for (item of getItems().controls; track $index) {
                    <div [formGroupName]="$index">
                        <input type="text" placeholder="product_id" formControlName="product_id">
                        <input type="text" placeholder="image" formControlName="image">
                        <input type="text" placeholder="name" formControlName="name">
                        <input type="number" placeholder="price" formControlName="price">
                        <input type="number" placeholder="quantity" formControlName="quantity">
                        <input type="number" placeholder="weight" formControlName="weight">

                        @if (getItems().length > 1) {
                        <button type="button" (click)="removeItem($index)">-</button>
                        }

                    </div>
                    }

                </div>
                <button type="button" (click)="newItem()">+</button>
            </div>

            <div class="col">
                <label for="usernote">User note:</label>
                <input type="text" formControlName="usernote">
            </div>

            <div class="container mt-5">
                <div class="card">
                    <div class="card-body" formGroupName="creditCard">
                        <h2 class="card-title">Credit Card Payment</h2>
                        <div class="form-group">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" id="cardNumber" formControlName="number" class="form-control" required
                                mask="0000-0000-0000-0000" [showMaskTyped]="true" [showTemplate]="true">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="expiryDate">Expiry Date</label>
                                <input type="text" id="expiryDate" formControlName="expiryDate" class="form-control"
                                    required mask="00/00" [showMaskTyped]="true" [showTemplate]="true"
                                    placeholder="MM/YY">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" formControlName="cvv" class="form-control" required
                                    mask="000" [showMaskTyped]="true" [showTemplate]="true" placeholder="XXX">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit">Post to order</button>
        </form>
    </div>
</div>