<button type="button" (click)="emitOnOpen(modal)">Add Category</button>
<div #modal class="modal">
    <div class="modal-content">
        <div class="categories-form">
            <form [formGroup]="categoryForm" (ngSubmit)="emitOnCategoryAdd(imageInput)">
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text" formControlName="name">
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea id="description" rows="7" formControlName="description"></textarea>
                </div>
                <div>
                    <label for="parent">Parent Category</label>
                    <select id="parent" formControlName="parent_id">
                        <option ngValue="">--Parent Category--</option>
                        @for (category of (categories | ptIf); track $index) {
                        <option [ngValue]="category._id">{{category.name}}</option>
                        }
                    </select>
                </div>
                <div>
                    <label>Image</label>
                    <input #imageInput type="file">
                </div>
                <div>
                    <button type="submit">Save Category</button>
                </div>
            </form>
        </div>
        <button type="button" (click)="emitOnClose(modal)">Close</button>
    </div>
</div>